
.edit-logo{
    width: 2%;
    height: 2%;
}
.phone-logo{
    width: 25px;
    height:25px;
}
.asd{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 5px rgba(85, 75, 75, 1);
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 2%;
    box-shadow: 0 0 10px rgba(85, 75, 75, .7);
    height: 4.5rem;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    background: white;
}
body { 
   overflow-x: hidden;
   background-color: rgb(148, 180, 180);
}

.header .logo img{
    position: static;
    float: left;
}

.header .navbar{
    margin: 5rem;
}

.header .navbar a{
    padding:0 1rem;
    font-size: 1.2rem;
    color:var(--blue);
}

.header .navbar a:hover{
    color: var(--orange);
    border-bottom: .1rem solid var(--orange);
    padding-bottom: .5rem;
    transition: .3s linear;
} 
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}