@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&family=Open+Sans&display=swap');


:root{
    --lightblue:#3ec1f9;
    --blue:#006A95;
    --orange: #EE6C4D;
    --darkblue: #08374A; 
}

*{
    font-family: 'Arial', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;

}
.button {
  border: 2px solid var(--blue);
  margin-right: 26%;
  padding: 7px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  background-color: var(--blue);
}

html{
 
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(#f0f0f0d9,#ffffffd9), url(images/SCREEN5.png);
    background-size: cover;
    background-position: center no-repeat;
    background-attachment: fixed;
    width: 100%;
}

/* Header Page */

.header_title{
    margin-right: 25rem;
    color: var(--blue);
    font-weight: normal;
}


/* Header Page */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 2%;
    box-shadow: 0 0 10px rgba(85, 75, 75, .7);
    height: 4.5rem;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    background: linear-gradient(to right, white, #4dccff, #08374A);
}

.header .logo{
  margin-top: 5px;
  position: static;
  float: left;
}

.header .navbar{
    margin: 5rem;
}

.header .navbar a{
    padding:0 1rem;
    font-size: 1.2rem;
    color: white;

}

.header .navbar a:hover{
    color: var(--orange);
    border-bottom: .1rem solid var(--orange);
    padding-bottom: .5rem;
    transition: .3s linear;
}

/* Login Page */

.login-form {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 400px;
    height: 400px;
    background: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(85, 75, 75, .7);
}

.login-form h1 {
    text-align: center;
    color:var(--blue);
    font-weight: bold;
    padding-top: 20px;
    font-size: 2.5rem;
}

.login-form h1 span{
    width: 85%;
    background: var(--blue);
    display: block;
    height: 4px;
    margin-left: 2rem;
    margin-top: 5px;
}

.login-form form{
    text-align: center;
}

.login-form form label{
    font-size: 20px;
    float: left;
    margin-left: 25px;
    color:var(--blue);
    font-weight: bold;
    margin-bottom: 5px;

}

.login-form form input{
    width: 350px;
    border: solid 1px grey;
    border-radius: 5px;
    height: 40px;
    font-size: 15px;
    padding: 5px;
    box-shadow: 0 1px 4px rgba(85, 75, 75, .7);
}

.login-form form #check{
    font-size: 13px;
    width: 13px;
    height: 13px;
    float: left;
    margin-left: 25px;
    margin-top: 5px;
    box-shadow: 0 0 0;
}

.login-form form #remember{
    margin-left: 5px;
    font-size: 13px;
    color: #707070;
    margin-top: 5px;
    
}

.login-form form a{
    text-decoration: none;
    font-size: 13px;
    color: var(--blue);
    margin-top: 5px;
    margin-left: 110px;

}



.eye{
    position: absolute;
    margin-top: -30px;
    margin-left: 185px;
    cursor: pointer;
    font-size: 20px;
    color: #707070;
}

#hide1{
    display: none;
}